<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJ83VfK3CFqWgswAciSh79DV3vVUA2ePo</string>
	<key>GCM_SENDER_ID</key>
	<string>1060194692897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appToDoList</string>
	<key>PROJECT_ID</key>
	<string>mytodoapp-project</string>
	<key>STORAGE_BUCKET</key>
	<string>mytodoapp-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060194692897:ios:158bc58e9bc4903dffd860</string>
</dict>
</plist>